@import "bourbon/bourbon";

body {
    font-family:  Helvetica, sans-serif;
    color: white;
}

.accordion {
  margin: auto;
  width: 600px;
}

p {
  color: black;    
  padding: 10px 20px;
  }

h1 {
  font-size: 18px;
  margin: 0;
  padding: 10px 20px;
  background-color: #0ed2e3;
  color: white;
  cursor: pointer;
}

container {
  float: left;
  height: 200px;
  border: 1px solid #11B4C2;
  border-bottom: 1px solid #11B4C2;
  overflow: hidden;

  &.hidden {
   height: 40px;
  }
}